[submodule "go"]
	path = go
	url = https://github.com/ethstorage/go.git
	branch = wasi
[submodule "zkWasm"]
	path = zkWasm
	url = https://github.com/ethstorage/zkWasm.git
	branch = zhangjunyu/cont
[submodule "continuation-batcher"]
	path = continuation-batcher
	url = https://github.com/DelphinusLab/continuation-batcher.git
	branch = polish-structure
[submodule "optimism"]
	path = optimism
	url = https://github.com/ethstorage/optimism.git
	branch = smoke_test
